################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/codecool-milestones-qualified-assessments/FileContentIndex/9cb0c89d-f7cd-4feb-9793-937c3759119b.vsidx
/.vs/codecool-milestones-qualified-assessments/FileContentIndex
/.vs/codecool-milestones-qualified-assessments/v17/TestStore/0
/.vs/codecool-milestones-qualified-assessments/v17/.wsuo
/.vs/slnx.sqlite
